body,html{
    height:auto;
    font-weight:lighter;
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #ffffff; 
    font-weight: lighter; 
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: rgb(0, 34, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 24px;
    padding: 10px 0;
    background-color: white; /* Optional: to prevent text overlap on scroll */
    z-index: 1000; /* Keeps it on top of other elements */
}


.header-link {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

.header-link:hover {
    color: rgb(0, 0, 0); /* or whatever color you want */
}

#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 48px;
    background: rgba(169, 169, 255, 0.28); /* Change to your preferred color */
    z-index: 4000;
}


/*MENU*/
#menu-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    position: fixed;
    top: 5px;
    left: 15px;
    z-index: 9999;
    transition: 0.3s ease-in-out;
}

/* Hamburger Lines */
.bar {
    width: 25px;
    height: 4px;
    background: black;
    transition: 0.3s;
}

/* Rotating the bars to form an "X" */
#menu-button.active .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

#menu-button.active .bar:nth-child(2) {
    opacity: 0;
}

#menu-button.active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

/* Menu Styling */
#menu {
    position: fixed;
    top: 0;
    left: -300px;
    width: 200px;
    height: 100%;
    background: #e5e5e5;
    color: white;
    transition: left 0.3s ease-in-out;
    padding: 20px;
    padding-top: 80px;
    z-index: 5000;

}

#menu ul {
    list-style: none;
    padding: 0;
}

#menu ul li {
    margin: 20px 0;
}

#menu ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 40px;
}

/* Show menu when active */
#menu.show {
    left: 0;
}





/*ARCHIVE LIST*/
#archive-container {
    margin: 15px auto;
    max-width: 800px; /* Adjust width as needed */
    padding: 10px;
}


.archive-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.archive-thumbnail {
    width: 130px;
    height: auto;
    margin-right: 15px;
    border-radius: 10px;
    aspect-ratio: 1/1;

}

.archive-thumbnail img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.archive-info {
    flex-grow: 1;
}

.archive-title {
    font-size: 25px;
    font-weight: bold;
    color: #0000ff;
    cursor: pointer;
}

.archive-year{
    font-size: 35px;
}

.archive-title:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #ffbf00;
}

.archive-content {
    margin-top: 0px;
    font-size: 20px;
    padding-bottom: 40px;
}

.hidden {
    display: none;
}


.view-more {
    display: block;
    margin-top: 0px;
    color: #ff0000;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}

.view-more:hover {
    text-decoration: underline;
    cursor: pointer;

}

.hidden {
    display: none; /*Only appears when expanded "view more"*/
}








/*HOMESCREEN IMAGE*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr)); 
    gap: 0; 
    padding-top: 5px;
    align-items: start; 
}

.grid-item {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    height: auto; 
    aspect-ratio: 1/1;
    display: block;
    object-fit: cover;
}

.grid-video{
    width: 100%;
    height: auto; 
    aspect-ratio: 1/1;
    display: block;
    object-fit: cover;
}

.image-thumbnail-alternative-index {
    display: none !important; 
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.grid-item:hover .overlay {
    opacity: 1;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 5px 0;
}

p {
    font-size: 16px;
    margin: 0;
}











/*SEARCH BAR*/
#search-bar {
    width: 50%;
    max-width: 400px;
    padding: 10px 15px;
    margin: 80px auto 10px auto; /* top: 50px, right/left: auto, bottom: 20px */
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#search-bar:focus {
    border-color: #d9ff00;
    box-shadow: 0px 2px 8px rgba(234, 255, 3, 0.524);
}





/*ABOUT SECTION*/
.about-container, 
.media-gallery,
.media-gallery-random,
.video-container{
    max-width: 800px;  /* Keeps a readable width */
    width: 90%;  /* Allows flexibility for smaller screens */
    margin: 10px auto;  /* Centers content */
    padding: 5px;  /* Adds spacing */
}

.about-container {
    max-width: 800px;
    margin: 60px auto;
    padding: 15px;
    text-align: center;
}

.about-title {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;

}

.about-subheading {
    font-size: large;    
    margin: 10px auto;
    padding-top: 10px;
    text-align: center;

}

.about-meta {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 20px;
}

.about-text {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

.about-text-italic {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 10px;
    text-align: justify;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: normal;
}

.about-image {
    max-width: 100%;
    height: auto;
}

.video-container
{
    height: auto;  /* Keeps aspect ratio */
    display: block;  /* Prevents extra spacing issues */
    margin: 0 auto;  /* Centers the video */
    margin-top: 10px;  
}

.responsive-video {
    width: 100%;  /* Makes the video take the full width of its container */
    max-width: 810px;  /* Limits the maximum width */
    height: auto;  /* Keeps aspect ratio */
    display: block;  /* Prevents extra spacing issues */
    margin: 0 auto;  /* Centers the video */
    margin-top: 10px;
}

.responsive-video-availableforall {
    width: 100%;  /* Makes the video take the full width of its container */
    max-width: 810px;  /* Limits the maximum width */
    height: auto;  /* Keeps aspect ratio */
    display: block;  /* Prevents extra spacing issues */
    margin: 0 auto;  /* Centers the video */
    margin-top: 10px;
}

.image-thumbnail-alternative-article{
    display: none !important;
}

.image-footer-container {
    display: grid;
    grid-template-rows: auto auto; /* Two rows: one for image, one for footer */
    justify-items: end; /* Aligns the footer to the right */
    margin: 0 auto; /* Centers the container */
}

.image {
    max-width: 100%;
    height: auto;
    margin: 15px 0;
}

.footer-text {
    margin-top: -10px;
    font-size: 12px;
    font-style: italic;
    color: #555;
    white-space: nowrap; /* Prevents wrapping */
    padding-bottom: 10px;
}










/*SPINNING CARD ANIMATION*/
.card-container {
    perspective: 1000px;
    display: flex;  
    align-items: center;
    justify-content: center;
    height: 80vh;  
    padding-top: 30px;
}

.card {
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; 
    animation: spinCard 10s infinite linear;}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;  
}

.card-front {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-back {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);  
}

@keyframes spinCard {
    from {
		-webkit-transform: rotateY(0deg) scale(0.45);
        transform: rotateY(0deg) scale(0.45);
    }
    to {
		-webkit-transform: rotateY(360deg) scale(0.45);
        transform: rotateY(360deg) scale(0.45);
    }
}

.card:hover {
    animation-play-state: paused; /* Pause spinning while hovered */
}



/*PAGE LOADING ANIMATION*/
#page-loader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	opacity: 1;
	transition: opacity .5s ease-out
}
@keyframes fadeIn {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}
#content {
	animation: .5s ease-out fadeIn
}


/*SELECTION TEXT*/
::selection {
    background-color: #ffcc00; /* Change background color */
    color: #000; /* Change text color */
}








.media-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 10px;
    margin-top: 0;
    max-width: 800px;  /* Same as .about-container */
}


.media-gallery img,
.media-gallery video {
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    display: block;
    transition: transform .3s ease-in-out;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    image-rendering: -webkit-optimize-contrast !important;
    image-rendering: optimizeQuality !important;
    aspect-ratio: 1/1;

}

.media-gallery img:hover,
.media-gallery video:hover {
    transform: scale(1.02);
}



.media-gallery-random {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 10px;
    margin-top: -80px;
    max-width: 800px;
}

.media-gallery-random img,
.media-gallery-random video {
	width: 100%;
    aspect-ratio: 1/1;
	object-fit: cover;
	cursor: pointer;
	display: block;
	transition: transform .3s ease-in-out;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	image-rendering: -webkit-optimize-contrast !important;
	image-rendering: optimizeQuality !important
}

.media-gallery-random img:hover,
.media-gallery-random video:hover {
	transform: scale(1.02)
}



.arrow,.lightbox-text,.work-section{
    text-align:center
}
.work-section{
    color:#fff;
    margin-top: 20px; /*CLOSER TO TEXT*/
}



.lightbox {
	left: 0;
	width: 100vw;
	height: 100vh;
	display: none;
	align-items: center;
	justify-content: center;
	background: #fff;
	z-index: 6000;
    position:fixed;
    top:0
}

.arrow,
.name {
	position: absolute
}

.media-container {
	width: 100%;
	max-height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center
}

.media-container img,
.media-container video {
	max-width: 90%;
	max-height: 75vh;
	object-fit: contain
}

.lightbox-text {
	padding-top: 5px;
	width: 90%;
	margin: 0 auto

}

h1 {
	display: inline;
	width: auto;
	white-space: nowrap;

}

.lightbox-text h2 {
	color: red;
	text-align: right;
	font-size: 30px;
    margin: 0px;
}
.lightbox-text p{
    color: red;
	text-align: right;
	font-size: 15px;
    margin-top: 5px;

}


.close,
.name {
	border-radius: 5px;
	right: 20px
}

.lightbox.active,
.modal.active {
	display: flex
}

.hidden {
	display: none
}

.visible {
	display: block
}

.name {
	bottom: 20px;
	font-size: 12px;
	color: #000;
	padding: 5px 10px
}

.arrow,
.close {
	cursor: pointer;
	color: red
}


.arrow {
	font-size: 30px;
	line-height: center;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1001
}

.arrow::before {
	content: "";
	position: absolute;
	top: -10px;
	left: -10px;
	right: -10px;
	bottom: -10px;
}


.arrow:active {
	background-color: transparent
}

.arrow.left,
.arrow.right,
.close {
	position: absolute;
	z-index: 1050;
	cursor: pointer
}

.close {
	position: fixed;
	top: 50px;
	z-index: 1100;
	font-size: 24px;
	background: 0 0;
	padding: 5px 10px
}

.arrow.left {
	left: 20px;
	top: 50%
}

.arrow.right {
	right: 20px;
	top: 50%
}






#previous-about-texts {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    padding: 15px;
}

.pdf-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    justify-content: center;
    max-width: 600px;
    margin: 20px auto;
}

.pdf-item {
    display: block;
    padding: 12px;
    background: #f0f0f0;
    color: black;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.2s ease;
}

.pdf-item:hover {
    background: #0000ff;
    color: white;
    transform: scale(1.05);
}




.video-wrapper {
    position: relative;
    width: 80%;             /* smaller size */
    max-width: 720px;       /* limits desktop size */
    margin: 20px auto;      /* center horizontally */
    aspect-ratio: 16 / 9;   /* preserve aspect ratio */
}
  
.video-wrapper iframe {
    width: 100%;
    height: 100%;
    border: none;
}
  
.instagram-container {
    display: flex;
    justify-content: center;
  }





@media (max-width: 768px) {
    .card-container {
        height: 40vh;  
    }
    .card {
        transform: scale(0.25); /* Smaller scale for small screens */
        animation-name: spinCardSmall; /* Define a different animation for small screens if needed */
    }

    @keyframes spinCardSmall {
        from {
            transform: rotateY(0deg) scale(0.25); /* Include scale in animation keyframes */
        }
        to {
            transform: rotateY(360deg) scale(0.25);
        }
    }
	#click-counter,
	#timer {
		display: none
	}

    .arrow {
		font-size: 25px
	}

    .media-gallery {

        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
 
    }

    .media-gallery-random{
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }

    .about-title {
        font-size: 40px;
        white-space: normal;
    }


    .archive-title {
        font-size: 20px;
        font-weight: bold;
        color: #0000ff;
        cursor: pointer;
    }

    .media-container img,
    .media-container video {
	max-width: 85%;
	max-height: 75vh;
	object-fit: contain
    }

    .lightbox-text {
        padding-top: 5px;
        width: 85%;
        margin: 0 auto
    }

    #menu {
        position: fixed;
        top: 0;
        left: -900px;
        width: 800px;
        height: 100%;
        background: #e5e5e5;
        color: white;
        transition: left 0.3s ease-in-out;
        padding: 20px;
        padding-top: 80px;
    }

    .image-thumbnail-alternative-index{    
        width: 100%;
        height: auto; 
        aspect-ratio: 1/1;
        display: block !important;
        object-fit: cover;
    }


    .grid-video{
        display: none !important;
    }

    .video-wrapper {
        width: 95%;
        margin: 10px auto;
    }


    .instagram-container {
          flex-direction: column;
          align-items: center;
    }
      
    .instagram-container iframe {
          width: 100% !important;
          max-width: 360px; /* typical phone width */
    }

    .responsive-video{
            display: none;
    }
    
    .image-thumbnail-alternative-article{
            max-width: 100%;
            height: auto;
            margin: 15px 0;
            display:block !important;
    }
    


}
    
    
